/* src/styles/theme.css */
:root {
  --portfolio-primary: #3b82f6;
  --portfolio-font-sans: 'Inter', sans-serif;
  --portfolio-radius: 0.5rem;
  --portfolio-bg: #f4dfa2d8;
  --portfolio-button: #dfe323;

  --nav-text-color: rgba(220, 249, 227, 0.832); /* Dimmed inactive text */
  --nav-hover-color: #d7dfda;                 /* Hovered text */
  --nav-active-asset: #e8f7e7;                /* Color for your SVG/Dot */

}

.theme-dark {
  --portfolio-bg: #0f172a;
  --portfolio-primary: #60a5fa;
}